*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $global-font-family;
  font-size: $global-font-size;
  font-weight: 400;
  line-height: $global-line-height;
  -webkit-text-size-adjust: 100%;
  background-color: $global-background-color;
  color: $global-font-color;
}

a {
  color: $global-link-color;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-text-decoration-skip: objects;

  &:active,
  &:hover {
    color: darken($global-link-color, 10%);
    outline: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $global-heading-family;
  font-weight: 700;
  line-height: 1;
  color: $global-heading-color;
  text-transform: uppercase;
}