*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $global-font-family;
  font-size: $global-font-size;
  font-weight: 400;
  line-height: $global-line-height;
  -webkit-text-size-adjust: 100%;
  background-color: $global-background-color;
  color: $global-font-color;
}

a {
  color: $global-link-color;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-text-decoration-skip: objects;

  &:active,
  &:hover {
    color: $hover-color;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1;
  font-family: $global-font-family;
  line-height: $global-line-height;
}
.section {
  padding-bottom: 60px;
}
.list {
  list-style: none;
}
