.features {
    background: #F9F9FB;
    text-align: center;
    &__image {
        margin-bottom: 30px;
    }
    &__item_title {
        margin-bottom: 15px;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        text-transform: none;
    }
    &__item_text {
        font-size: 16px;
        line-height: 1.63;
    }
}
@media screen and (max-width: 500px) {
    .features {
        &__item {
            max-width: 345px;
            margin-right: auto;
            margin-left: auto;
        &:not(:last-child){
            margin-bottom: 65px;
        }
    }
        &__item_text {
            padding-right: 15px;
            padding-left: 15px;
                
        }

    }
}
@media screen and (min-width: 499px) {
    .features {
    &__list {
        display: flex;
        justify-content: center;
    }
    &__item {
        max-width: 310px;
        &_text {
            padding-right: 25px;
            padding-left: 25px;
        }
        &:not(:last-child) {
            margin-right: 5%;
        }
    }
    &__image {
        min-height: 98px;
    }
}
}

