.footer {
  color: white;
  &__list {
    display: flex;
  }
  background-color: $global-link-color;
}
.footer__list {
  margin: 0;
  position: relative;
  &_item-policy a {
    line-height: 55px;
    color: white;
    vertical-align: middle;
    text-decoration: underline;
    font-size: 14px;
  }
  &_item-date {
    position: absolute;
    vertical-align: middle;
    font-size: 14px;
    line-height: 55px;
    left: 50%;
  }
}

@media screen and (max-width: 500px) {
  .footer__list {
  flex-direction: column;
  & li {
    & a { line-height: 30px; }
    line-height: 30px;
  }
    &_item-date {
      position: static;
    }
    }
   
}