.adress-list__item-ofice {
    margin-top: 30px;
    margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.2;
        &::before {
            content: "";
            width: 24px;
            height: 24px;
            display: inline-flex;
            align-items: center;
            background: url('../images/svg/svg/ic_uphome_logo_icon_outline.svg');
            background-size: contain;
            margin-right: 5px; }
}
.footer {
    padding-top: 50px;
        padding-bottom: 50px;
    background: #132E71;
    &__list {
        color: white;
        margin: 0;
        padding: 0;
    }
}
.list-servise {
    &__item-title {
        text-transform: uppercase;
    }
}
.adress-list__item svg{
    width: 24px;
    height: 24px;
}
.list-servise {
    &__item {
        display: flex;
    align-items: center;
    }
&__item::before {
    content:"";
    width: 15px;
    height: 15px;
    display: inline-flex;
    background: url('../images/svg/svg/ic_footer_arrow.svg');    
background-size: contain;
margin-right: $global-padding-margin;
}
}

@media screen and (max-width: 500px) {
    .logo-list{
        padding-left: 25px;
        padding-right: 25px;
    }
    .footer {
        
        &__list li img {
            min-width: 180px;
        }
        &__list {
            text-align: center;
        }
        &__logo {
            margin-bottom: 30px;
        }
    }
    .logo-list { 
        &__item {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
    }
    &__brend {
        margin-bottom: $global-padding-margin;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.3;
    }
    &__policy {
     font-weight: 600;
    font-size: 13px;
    line-height: 1.7;
    text-decoration: underline;
    color: #3DC75A;
    }
}
.list-servise {
    text-align: left;
    margin-left: 25px;
&__item-title {
    font-weight: bold;
font-size: 14px;
line-height: 1.6;
margin-bottom: 30px;
}
&__item {
font-weight: 500;
font-size: 14px;
line-height: 1.6;
}
}
.adress-list {
    text-align: left;
    &__item {
        margin-bottom: 30px;
    } 
    &__item-ofice {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.2;
    }
    &__item-adress{
        font-size: 13px;
        line-height: 1.4;
    }
    &__item-map a{
        font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #3DC75A;
    }
}
.footer__adress {

&_tel {
    font-weight: bold;
font-size: 24px;
line-height: 36px;
color: #3DC75A;
font-style: normal;
}
&_mail {
    font-weight: bold;
font-size: 14px;
line-height: 1.2;
font-style: normal;
}
}
}
.footer__adress a {
    display: block;
}
.row div:not(:last-child) {
    margin-bottom: 50px;
}
@media screen and (min-width: 499px) {
    .footer__logo {
        margin-bottom: 25px;
    }
.logo-list {
    &__item {
        font-weight: 500;
        margin-bottom: 25px;
    }
    &__brend {
        font-weight: 500;
        font-size: 13px;
        line-height: 1.3;
        margin-bottom: 25px;
    }
    &__policy {
        font-weight: 600;
font-size: 13px;
line-height: 1.7;
text-decoration-line: underline;
color: #3DC75A;
    }
}
.list-servise {
    &__item{
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.6;
    }
    &__item-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.6;
        padding-top: 10px;
        margin-bottom: 30px;
    }
}
.footer__adress_tel {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    color: #3DC75A;
    font-style: normal;
    &:hover,
    &:focus {
        color: black;
    }
}
    .footer__adress_mail {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.21;
        font-style: normal;
        margin-bottom: 30px;
    }
    .adress-list__item svg:not(:last-child) {
        margin-right: 15px;
    }
    .adress-list__item-adress {
        font-size: 13px;
        line-height: 1.4;
        margin-bottom: 10px;

    }
.adress-list__item-map a {
    font-weight: 600;
font-size: 13px;
line-height: 1.7;
text-decoration-line: underline;
color: #3DC75A;
}
}
