.filter {
  &__form {
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 40px;
    background-color: #efefef;
  }
}
.form__input-town {

  width: 320px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
.form__input {
  margin-right: 10px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 15px;
  padding-right: 0;
  width: 85px;
}
.select-wrapper{
  margin-bottom: 15px;
}
.check-wrapper {
  margin-bottom: 40px;
  & label {
    font-size: 16px;
    line-height: 19px;
    position: relative;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.cost-wrapper {
  & input {
    font-family: $secondary-font-family;
    margin-left: 20px;
    background: #ffffff;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 15px;
    padding-right: 0;
    outline: none;
    font-weight: 600;
    width: 130px;
  }
  & label {
    & input {
    }
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}
.cost-link {
  cursor: pointer;
  color: $global-link-color;
  text-decoration: underline;
  margin-right: 100px;
}
 .select2 {
   &:first-child {
     margin-right: 25px;
   }
   &:not(:last-child){
 margin-right: 10px; }
}

.select2-selection{
&__arrow {
  
  margin-top: 12px;
  margin-right: 15px;
}
&__rendered {
  padding-top: 12px;

}
}

.select2-selection{
  outline: none;
  min-height: 50px;
}
.select2-container--default .select2-selection--single {
  font-family: $global-font-family;
  border: 1px solid #BDBDBD;
border-radius: 5px;
}
.cost-wrapper button {
  min-width: 180px;
}
body .select2-selection__rendered {
  margin-left:  15px;
}
.select2-container--below {
  font-weight: 600 !important ;
  font-weight: normal;
}
.form__input option{
  text-transform: uppercase;
}
.form__input-check {
  position: absolute;
  z-index: -1;
  opacity: 0;
  }
.form__input-check+label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.form__input-check+label::before {
  cursor: pointer;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center center;
  background-size: 75% 75%}

  .form__input-check:checked+label::before {
    cursor: pointer;
    background-color: white;
    background-image: url("../images/form/Vector.svg");
  }