$grid-gutters: 15px;
$container-width: 1200px;

.container {
  width: 100%;
  max-width: $container-width;
  padding-right: $grid-gutters;
  padding-left: $grid-gutters;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gutters;
  margin-right: -$grid-gutters;
  box-sizing: border-box;
}

[class*="col"] {
  width: 100%;
  max-width: 100%;
  padding-left: $grid-gutters;
  padding-right: $grid-gutters;
  box-sizing: border-box;
}

.col-auto {
  width: auto;
}

.col-expand {
  flex: 1;
  min-width: 1px;
}

$from: 1;
$to: 12;

@for $i from $from through $to {
  .col-#{$i} {
    @include add-col($to/$i);
  }
}

@media (min-width: $breakpoint-sm) {
  @for $i from $from through $to {
    .col-sm-#{$i} {
      @include add-col($to/$i);
    }
  }
}

@media (min-width: $breakpoint-md) {
  @for $i from $from through $to {
    .col-md-#{$i} {
      @include add-col($to/$i);
    }
  }
}

@media (min-width: $breakpoint-lg) {
  @for $i from $from through $to {
    .col-lg-#{$i} {
      @include add-col($to/$i);
    }
  }
}

@media (min-width: $breakpoint-xl) {
  @for $i from $from through $to {
    .col-xl-#{$i} {
      @include add-col($to/$i);
    }
  }
}
