.navigation {
  font-family: $global-font-family;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: $global-font-color;
}
.item-adress__phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
}
@media screen and (max-width: 500px) {
  .item-adress__phone svg {
    fill: white;
  }
  header {
    padding: $global-padding-margin;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
      display: none;
      width: 80%;
      position: absolute;
      top: calc(100% + 15px);
      left: 0;
      padding-top: $global-padding-margin;
    }
    &__item {
      padding-bottom: 35px;
      &-contacts {
        padding-bottom: 165px;
      }
    }
  }
  .menu-button .icon-close {
    display: none;
  }
  .menu-button.is-open .icon-close {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
  .company-logo img {
    min-width: 145px;
  }
  .list-contacts {
    &__item-call {
      padding-bottom: $global-padding-margin;
    }
    &__item-adress {
      background: linear-gradient(180deg, #61eb7a 0%, #1da53d 100%);
      padding: 25px 0;
      font-weight: bold;
      font-size: 18px;
      line-height: 1.2;
    }
  }
}
@media screen and (min-width: 499px) {
  header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 25px;

  }
  .menu-button {
    display: none;
  }
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    &__list-contacts {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
    }
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__item {
      margin-right: 25px;
      &-contacts {
        margin-right: 25px;
      }
    }
  }
  .item-adress__link {
    color: $global-font-color;
  }
  .company-logo {
    min-width: 175px;
    margin-right: 60px;
  }
  .item-adress__phone {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
  }
  .list-contacts__item-call {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 2.2;
    text-transform: uppercase;
    color: #3dc75a;
    text-decoration: underline dotted;
    position: absolute;
    top: 100%;
  }
}
