.partners__button {
display: flex;
align-items: center;
}
.partners__button::after{
    content: "";
    display: inline-flex;
    margin-left: 5px;
    align-items: center;
    min-width: 25px;
    height: 25px;
    background-image: url('../images/svg/svg/ic_icon_refresh_white.svg');
background-size: cover;
}
.partners {
&__wrapper {
    background-color: #017FF8;
    color: white;
    margin-right: -$global-padding-margin;
    margin-left: -$global-padding-margin;
    padding-right: $global-padding-margin;
    padding-left: $global-padding-margin;
}
&__title {
    color: white;
    font-weight: 800;
}
&__description {
    font-size: 18px;
    &_text {
        font-weight: bold;
font-size: 18px;
line-height: 1.4;
text-decoration-line: underline;
    }
}
}
.partners__footer-wrapper {
    position: relative;
    &::before {
        content: "";
        display: flex;
        width: calc(100% - 470px);
        height: 15px;
        background-image: url('../images/svg/svg_one/ic_ribbon_blue.svg');
    }
}
    .help-list {
        &__item {
            display: flex;
            align-items: center;
        &::before{
            content: "";
            margin-right: 15px;
            display: inline-block;
            align-items: center;
            min-width: 20px;
            height: 25px;
            background-image: url('../images/svg/svg/ic_bullet_green.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    }
    .partners-list__item {
        margin-bottom: 30px;}
.partners__image {
    position: absolute;
    right: 0;
    top: -260px;
    min-width: 470px;
    
}
@media screen and (max-width: 500px) {
    .partners__image {
        right: -113px;
        top: -210px;
        min-width: 430px;
        
    } 
    .partners {
        &-list {
            align-items:  center;
            &__last-item { display: none;}
        }
    &__wrapper {
        margin-top: -50px;
        padding-top: 50px;
        padding-bottom: 275px;
    }
    &__title {
font-size: 28px;
line-height: 1.29;
margin-bottom: 25px;
text-align: center;
}
&__description {
line-height: 1.4;
text-align: center;
margin-bottom: 40px;
}
}
.partners__footer-wrapper {
    position: relative;
    &::before {
        content: "";
        margin-left: -15px;
        display: flex;
        width: calc(100% - 280px);
        height: 15px;
        background-image: url('../images/svg/svg_one/ic_ribbon_blue.svg');
    }
}
.help-list-wrapper {
    margin-top: 70px;
}
.help-list {
    &__item {
        padding-top: 25px;
display: inline-flex;
align-items: center;
font-weight: 500;
font-size: 15px;
}
}
.partners__button {
    margin-top: 40px;
    &-wrapper {
        display: flex;
        justify-content: center;
    }
}
}
@media screen and (min-width: 499px) {
    .partners {
        &__wrapper {
            margin-top: -90px;
            padding-top: 90px;
            padding-left: 15%;
            padding-bottom: 80px;
        }
        &__title{
            font-size: 44px;
            line-height: 1.1;
            margin-bottom: 30px;
            text-transform: none;
        }
        &__description {    
            margin-bottom: 45px;          
            line-height: 1.44;
            max-width: 550px;
        }
        &-list {
            max-width: 630px;
            justify-content: flex-start;
        }
        &__footer-wrapper {
            margin-right: -15px;
            margin-left: -15px;
        }
        .help-list-wrapper {
            margin-left: 15%;
            margin-top: 60px;
            max-width: 740px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
            
        .help-list {
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            flex-basis: 50%;
&:not(:last-child){
    margin-right: 50px;
}
            &__item{
                flex-basis: 50%;
                padding: 0;
                margin-bottom: 30px;
                font-weight: 500;
                font-size: 15px;
                line-height: 1.47;
            }
        }
    }
.partners__button {
    margin-left: 15%;
}

}
