.slider__list_item span {
  font-family: $secondary-font-family;
  display: inline-block;
}

.list_item-wrapper {
  font-family: $secondary-font-family;
  flex-basis: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
}
.slider__title {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 30px;
}
.list_item-cost {
  color: $global-link-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
}

.slick-prev:before {
  display: block;
  margin-left: 3px;
  margin-bottom: 3px;
  content: "\2199";
  font-size: 34px;
  transform: rotate(50deg);
  font-weight: bold;
  color: $global-font-color;
}
.slick-next:before {
  display: block;
  margin-right: 3px;
  margin-top: 5px;
  content: "\2199";
  font-size: 34px;
  transform: rotate(230deg);
  font-weight: bold;
  color: $global-font-color;
}
.slick-prev,
.slick-next {
  &:hover::before {
    color: $global-link-color;
  }
  &:hover {
    border-color: $global-link-color;
    color: $global-link-color;
  }
  border: 1px solid #828282;
  z-index: 1;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #fff;
}
.slick-slide {
  &:not(:last-child) {
    margin-right: 10px;
    margin-left: 5px;
  }
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: #fff;
}
.slick-next {
  right: -40px;
  &:hover,
  &:focus {
    color: $global-link-color;
    background-color: #fff;
    z-index: 1;
  }
}
.slick-prev {
  left: -43px;
  &:hover,
  &:focus {
    color: $global-link-color;
    background-color: #fff;
    z-index: 1;
  }
}
@media screen and (max-width: 650px) {
  .slick-slide img {
    width: 100%;
    margin: 0 auto;
  }

  .slick-prev {
    left: 6px;
    top: 45%;
  }
  .slick-next {
    right: 11px;
    top: 45%;
  }
  .slick-prev,
  .slick-next {
    opacity: 40%;
    &:active {
      opacity: 90%;
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .list_item-wrapper,
  .list_item-cost {
    font-size: 14px;
  }
}
