.slider__list_item span {
  font-family: $secondary-font-family;
  display: inline-block;
}
.slider__list {
  display: flex;
  &_item {
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: #fff;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.list_item-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}
.slider__title {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 30px;
}
.list_item-cost {
  color: $global-link-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
}
.position-wrapper {
  position: relative;
}
.position-wrapper .position-span-right,
.position-wrapper .position-span-left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  position: absolute;
  border: 1px solid #dddddd;
  border-radius: 50%;
  transition: all 100ms ease-in;
  &:hover {
    color: $global-link-color;
    border: 1px solid $global-link-color;
  }
}
.position-wrapper .position-span-left {
  left: -65px;
  bottom: 50%;
}
.position-wrapper .position-span-right {
  right: -65px;
  bottom: 50%;
}
