.table-section {
  background-color: $global-background-color;
}
.table {
  &__item {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: $secondary-background-color;
  }
  &__best-item td {
    background-color: #fdffc2;
  }
  width: 100%;
  &__title {
    background-color: $global-link-color;
  }
  &__list {
    &_item {
      color: #828282;
    }
    display: flex;
    justify-content: space-between;
    max-width: 820px;
  }
  & td,
  th {
    vertical-align: middle;
  }
  &__number img {
    max-width: 185px;
  }
  &__number::after {
    content: "";
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url("../images/table/crown.svg");
    background-size: contain;
  }
  &__seller {
    font-family: $secondary-font-family;
  }
  &__item-date {
    font-family: $secondary-font-family;
    font-weight: 300;
  }
  &__item-cost {
    font-family: $secondary-font-family;
    font-weight: 500;
  }
  &__false-photo_link {
    color: #828282;
  }
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}
.table__photo_link svg {
  margin-right: 15px;
}
.list-item-true {
  color: #222222;
  font-weight: 600;
}
.list-sort {
  margin-right: 6%;
}
