
$global-font-family:  'Raleway', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;
$global-font-size: 16px;
$global-line-height: 1.19;


$global-font-color: #222222;
$global-link-color: #5284C7;
$hover-color: #2F67B3;

$global-background-color: #E5E5E5;
$secondary-background-color:  #EFEFEF;


