.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-ic_swich_right {
  width: 1.75em;
}

.icon-ic_swich_left {
  width: 1.75em;
}

.icon-ic_footer_arrow1 {
  width: 1.3330078125em;
}
